In [129]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.core.display import display, HTML

%matplotlib inline

data = pd.read_csv("2017_PUDB_Export.csv")

In [130]:
data.shape

(55990, 82)

In [131]:
display(HTML(data.head().to_html()))

In [132]:
data.columns

Index(['Year', 'Assigned ID', 'Bank', 'FIPSStateCode', 'FIPSCountyCode', 'MSA',
       'FeatureID', 'Tract', 'MinPer', 'TraMedY', 'LocMedY', 'Tractrat',
       'Income', 'CurAreY', 'IncRat', 'UPB', 'LTV', 'MortDate', 'AcquDate',
       'Purpose', 'Coop', 'Product', 'FedGuar', 'Term', 'AmorTerm', 'SellType',
       'NumBor', 'First', 'CICA', 'BoRace', 'CoRace', 'BoGender', 'CoGender',
       'BoAge', 'CoAge', 'Occup', 'NumUnits', 'Bed1', 'Bed2', 'Bed3', 'Bed4',
       'Aff1', 'Aff2', 'Aff3', 'Aff4', 'Rent1', 'Rent2', 'Rent3', 'Rent4',
       'RentUt1', 'RentUt2', 'RentUt3', 'RentUt4', 'Geog', 'Rate', 'Amount',
       'Front', 'Back', 'BoCreditScor', 'CoBoCreditScor', 'PMI', 'Self',
       'PropType', 'ArmIndex', 'ArmMarg', 'PrepayP', 'BoEth', 'Race2', 'Race3',
       'Race4', 'Race5', 'CoEth', 'Corace2', 'Corace3', 'Corace4', 'Corace5',
       'HOEPA', 'LienStatus', 'SpcHsgGoals', 'FedFinStbltyPlan', 'AcqTyp',
       'GSEREO'],
      dtype='object')

#### Considering the important features

In [134]:
interested = ['Bank', 'FIPSStateCode', 'FIPSCountyCode', 'MSA','Tract','MinPer', 'TraMedY', 'LocMedY', 'Tractrat',
       'Income', 'CurAreY', 'IncRat', 'UPB', 'LTV', 'Purpose','Coop','Product','FedGuar', 'Term', 'AmorTerm', 'SellType',
       'NumBor', 'First', 'CICA', 'BoRace', 'CoRace', 'BoGender', 'CoGender',
       'BoAge', 'CoAge', 'Occup', 'NumUnits', 'HOEPA', 'LienStatus', 'SpcHsgGoals', 'FedFinStbltyPlan', 'AcqTyp',
       'GSEREO','Geog', 'Amount',
       'Front', 'Back', 'BoCreditScor', 'CoBoCreditScor', 'PMI', 'Self',
       'PropType','BoEth', 'CoEth', 'Rate']

In [135]:
new = data[interested]

In [136]:
display(HTML(new.head().to_html()))

#### One Hot Encoding the categorical features.

In [137]:
cat= ['Bank', 'FIPSStateCode','Purpose','Coop','Product','FedGuar', 'SellType',
       'NumBor', 'First', 'CICA', 'BoRace', 'CoRace', 'BoGender', 'CoGender',
       'Occup', 'NumUnits', 'HOEPA', 'LienStatus', 'SpcHsgGoals', 'FedFinStbltyPlan', 'AcqTyp',
       'GSEREO','Geog','Self', 'PropType']
new2 = pd.get_dummies(new, columns=cat, drop_first=True)

In [138]:
new2.shape

(55990, 131)

In [139]:
new2.columns

Index(['FIPSCountyCode', 'MSA', 'Tract', 'MinPer', 'TraMedY', 'LocMedY',
       'Tractrat', 'Income', 'CurAreY', 'IncRat',
       ...
       'Geog_2', 'Self_2', 'PropType_PT02', 'PropType_PT04', 'PropType_PT06',
       'PropType_PT07', 'PropType_PT09', 'PropType_PT10', 'PropType_PT11',
       'PropType_PT12'],
      dtype='object', length=131)

#### no_cat == Non Categorical Feature which we need to normalize

In [140]:
no_cat = [s for s in interested if s not in cat]

In [141]:
no_cat.remove("Rate")

#### Normalizing the Data

In [142]:
from sklearn.preprocessing import MinMaxScaler

In [143]:
scaler = MinMaxScaler()

In [144]:
scale = pd.DataFrame(data = new2)
scale[no_cat] = scaler.fit_transform(new2[no_cat])

# Show an example of a record with scaling applied
display(scale.head())

,FIPSCountyCode,MSA,Tract,MinPer,TraMedY,LocMedY,Tractrat,Income,CurAreY,IncRat,...,Geog_2,Self_2,PropType_PT02,PropType_PT04,PropType_PT06,PropType_PT07,PropType_PT09,PropType_PT10,PropType_PT11,PropType_PT12
0,0.016687,0.165964,0.282474,0.9915,0.063452,0.000000,0.232907,0.013611,0.000000,0.047784,...,1,1,0,0,0,0,0,0,0,0
1,0.010727,1.000000,0.961978,0.9290,0.303215,0.332285,0.374158,0.049231,0.296198,0.058919,...,1,1,0,0,0,0,0,0,0,0
2,0.010727,1.000000,0.964297,0.9290,0.196999,0.332285,0.243077,0.026499,0.296198,0.031902,...,1,1,0,0,0,0,0,0,0,0
3,0.522050,0.100112,0.114968,0.2531,0.411162,0.513349,0.372595,0.038456,0.460654,0.033802,...,1,1,0,0,0,1,0,0,0,0
4,0.116806,0.262517,0.003128,0.7174,0.232939,0.368077,0.268258,0.012557,0.308576,0.014915,...,1,1,0,0,0,0,0,0,0,0

In [145]:
rate = scale["Rate"]

In [146]:
del scale["Rate"]

#### Train Test Split - <br> 80% Train <br>20% Test

In [148]:
from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(scale, 
                                                    rate, 
                                                    test_size = 0.2, 
                                                    random_state = 0)


print ("Training set has {} samples.".format(X_train.shape[0]))
print ("Testing set has {} samples.".format(X_test.shape[0]))
type(X_train)

Training set has 44792 samples.
Testing set has 11198 samples.

pandas.core.frame.DataFrame

In [150]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()

In [151]:
clf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [152]:
y_pred = clf.predict(X_test)

In [153]:
y_pred_new=[]
for e in y_pred:
    y_pred_new.append('%.4f' % e)

In [154]:
len(y_pred_new)

11198

In [155]:

y_test_new = []
for e in y_test:
    y_test_new.append('%.4f' % e)

In [156]:
result = pd.DataFrame({'Predictions': y_pred_new,
     'Acutual': y_test_new
    })

In [157]:
result

      Acutual Predictions
0      0.0400      0.0354
1      0.0425      0.0418
2      0.0338      0.0354
3      0.0375      0.0394
4      0.0363      0.0400
5      0.0338      0.0389
6      0.0425      0.0416
7      0.0338      0.0352
8      0.0413      0.0409
9      0.0363      0.0391
10     0.0463      0.0411
11     0.0388      0.0396
12     0.0313      0.0345
13     0.0425      0.0394
14     0.0425      0.0424
15     0.0375      0.0393
16     0.0413      0.0390
17     0.0363      0.0395
18     0.0425      0.0408
19     0.0388      0.0343
20     0.0413      0.0424
21     0.0375      0.0389
22     0.0400      0.0423
23     0.0388      0.0396
24     0.0425      0.0398
25     0.0375      0.0393
26     0.0375      0.0404
27     0.0400      0.0396
28     0.0425      0.0412
29     0.0400      0.0410
...       ...         ...
11168  0.0413      0.0407
11169  0.0425      0.0420
11170  0.0425      0.0417
11171  0.0350      0.0386
11172  0.0425      0.0392
11173  0.0400      0.0404
11174  0.0375      0.0408
11175  0.0413      0.0392
11176  0.0425      0.0421
11177  0.0388      0.0393
11178  0.0400      0.0401
11179  0.0463      0.0424
11180  0.0399      0.0422
11181  0.0400      0.0393
11182  0.0338      0.0388
11183  0.0388      0.0399
11184  0.0375      0.0387
11185  0.0388      0.0418
11186  0.0399      0.0421
11187  0.0400      0.0395
11188  0.0375      0.0371
11189  0.0425      0.0424
11190  0.0388      0.0408
11191  0.0388      0.0371
11192  0.0375      0.0346
11193  0.0388      0.0388
11194  0.0375      0.0383
11195  0.0399      0.0407
11196  0.0413      0.0401
11197  0.0325      0.0336

[11198 rows x 2 columns]